#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.m-top {
  margin-top: 2rem;
}

/* New Styles */
.main-nav {
  margin-bottom: 3rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.main-nav button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

.demo-page {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.demo-section {
  background: #f7f7fa;
  padding: 1.5rem;
  border-radius: 4px;
  border: 1px solid #d0d1d4;
  font-size: 0.9em;
}

.doc-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background-color: #ffffff;
}

.doc-table th, .doc-table td {
  border: 1px solid #444;
  padding: 0.75rem;
  text-align: left;
}

.doc-table th {
  background-color: #d7d7dd;
}

.buttonCounter {
  font-family: monospace;
  font-size: 1.2rem;
}


.buttonCounter {
  margin: auto;
}

h1 .m-top {
  margin-top: 1.5em;
}

div .m-top {
  margin-top: 1em;
}